body{
  background-color: rgb(206, 215, 224);
  text-align: center;
}
fieldset{
  width: 500px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(128, 162, 196);
  color: rgb(0, 0, 77);

}
legend{
  font-style: oblique;
  font-size: 2em;
  font-weight: 600;

}
input{
  border-radius: 5px;
  font-weight: 600;
  width: 40%;
  margin: 10px;
  line-height: 1;
  padding: .6em;
  font-size: 1.25em;
  font-style: italic;
}
